{% extends 'events/base.html' %}

{% block content %}

<h1>Disclaimer</h1>

<p>This website was created while following the classes available in <a href="https://codemy.com/" >Codemy.com</a>. 
All credits to them. I do not claim to have created it on my own, even though I have made several modifications to it. This 
project is here to display the capabilities I have acquired while following this course. </p>

<h1>Aviso</h1>

<p>Este site foi criado seguindo as aulas disponíveis em <a href="https://codemy.com/" >Codemy.com</a>.
Todos os créditos a eles. Não afirmo ter criado este projeto sozinho, embora tenha feito várias modificações nele. este
projeto está aqui para mostrar as capacidades que adquiri ao seguir este curso.</p>

{% endblock %}

